.header {
  margin: 20px;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.header-text {
  align-self: start;
  font-size: 2rem;
}

.add-note-button {
  margin: 0 1rem 0 1rem;
  height: 90%;
}

.notes-container {
  align-self: center;
  gap: 10px;
}

/* Note component CSS */

.note-container {
  background: #eee;
  box-shadow: #999 1px 1px 3px;
  margin: 1rem 0;
  min-height: 30rem;
  max-height: 4rem;
  overflow: auto;
  width: 50vw;
}

.note-container-header {
  display: flex;
  padding: 0.25rem;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #d46e58;
  /* color: #71cbd0; */
}

.note-container-header-text {
  padding: 0.5rem;
  font-size: 1rem;
  font-style: italic;
}

.note-container-header-button {
  margin: 0.25rem;
  height: 80%;
}

.note-container-note-text {
  margin: 1rem;
}
